# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.decrypted~*.yaml
.config.env
*.pub
# Ansible
.venv*
# Taskfile
.tasks
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Sops
.decrypted~*
*.agekey
*.key
