---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  interval: 30m
  chart:
    spec:
      chart: headlamp
      version: 0.40.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    config:
      inCluster: true
    ingress:
      enabled: true
      ingressClassName: internal
      hosts:
        - host: &host "headlamp.${SECRET_DOMAIN}"
          paths:
            - path: /
              type: Prefix
      tls:
        - hosts:
            - *host
