---
version: "3.8"

services:
  prometheus-pve-exporter:
    image: prompve/prometheus-pve-exporter:latest
    restart: unless-stopped
    container_name: prometheus-pve-exporter
    network_mode: host
    ports:
      - 9221:9221
    volumes:
      - "{{ apps_dir }}/prometheus-pve-exporter/pve.yml:/etc/prometheus/pve.yml"
